fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic[email]
pytest
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
psycopg[binary]
apscheduler
slowapi
redis
sentry-sdk[fastapi]
httpx2
bcrypt==4.0.1
